DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=autopart
DB_USER=khoirulanam69
DB_PASSWORD=PASSWORD_DB_ANDA
JWT_SECRET=ganti-dengan-secret-key-yang-sangat-panjang-dan-random
PORT=3000
UPLOAD_DIR=/var/www/cdn.mkaindo.com/autopart-products
CDN_BASE_URL=https://cdn.mkaindo.com/autopart-products
